
@if variable-exists(background-color) 
{
    $custom-plyr-color: dynamic(if(lightness($background-color) < 50, $font-color, $base-color));
    $custom-plyr-background-color: dynamic($background-color);
    $custom-plyr-background-color-hover: dynamic(mix(#FFF, $custom-plyr-color, 25%));
}
@else
{
    $custom-plyr-background-color: dynamic($panel-body-background-color);
    $custom-plyr-color: dynamic(if(lightness($base-color) < 50, $base-color, $panel-header-color));
    @if lightness($custom-plyr-color) > 60 and lightness($custom-plyr-background-color) > 60
    {
        $custom-plyr-color: dynamic($base-color);
    }
    @if lightness($custom-plyr-color) < 2
    {
        $custom-plyr-color: dynamic($base-color);
    }
    $custom-plyr-background-color-hover: dynamic(mix(#FFF, $custom-plyr-color, 25%));
}

.plyr--audio .plyr__control {
    &.plyr__tab-focus,
    &:hover,
    &[aria-expanded='true'] {
      background: $custom-plyr-background-color-hover;
      color: $custom-plyr-background-color;
    }
}

.plyr--video .plyr__control {
    &.plyr__tab-focus,
    &:hover,
    &[aria-expanded='true'] {
        background: $custom-plyr-background-color-hover;
        color: $custom-plyr-background-color;
    }
}

.plyr--audio .plyr__progress__buffer {
    color: var(--plyr-audio-progress-buffered-background,rgba(193,200,209,.9));
    background-color: var(--plyr-audio-progress-buffered-background,rgba(193,200,209,.4));
}

.plyr--video .plyr__progress__buffer { // plyr v3.6 sets --plyr-video-progress-buffered-background white
    color: var(--plyr-audio-progress-buffered-background,rgba(193,200,209,.9));
    background-color: var(--plyr-audio-progress-buffered-background,rgba(193,200,209,.4));
}

.plyr--audio .plyr__controls {
    color: $custom-plyr-color;
    background: $custom-plyr-background-color;
}

.plyr--video .plyr__controls {
    color: $custom-plyr-color;
    background: $custom-plyr-background-color;
}

.plyr--full-ui input[type=range] {
    color: $custom-plyr-color;
}
  
.plyr__control--overlaid {
    background: rgba($custom-plyr-background-color, .8);
}
  
.plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 3px rgba($custom-plyr-color, .5);
}
  
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: $custom-plyr-background-color;
}
